# 将 RewriteEngine 模式打开
RewriteEngine On

# 修改以下语句中的 / 改为您的系统目录地址，如果程序放在根目录中则无需修改
RewriteBase /

# Rewrite 系统规则请勿修改
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^index.html$ index.php
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^about-([0-9]+)\.html$ about.php?id=$1
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^activity_show-([0-9]+)-([0-9]+)\.html$ activity_show.php?cid=$1&id=$2
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^news_show-([0-9]+)-([0-9]+)\.html$ news_show.php?cid=$1&id=$2
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^news-([0-9]+)\.html$ news.php?&page=$1
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^news-([0-9]+)-([0-9]+)\.html$ news.php?cid=$1&page=$2
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^project\.html$ project.php
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^project_list-([0-9]+)-([0-9]+)\.html$ project_list.php?cid=$1&page=$2
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^project_show-([0-9]+)-([0-9]+)\.html$ project_show.php?cid=$1&id=$2
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^member-([0-9]+)\.html$ member.php?id=$1
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^sihui-([0-9]+)\.html$ sihui.php?id=$1
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^(\w+)\.html$ $1.php?